/.ipynb_checkpoints
/Cecilia_code
/Cytoscape
/Figures
/project2_workspace.code-workspace
/other_scripts/unused_scripts

/Data

/HPC_scripts/HPC_permutation_integrated_withoutPA.py
/HPC_scripts/HPC_permutation_integrated.py
/HPC_scripts/permutation_distribution_integrated.py
/HPC_scripts/test_distribution_integrated.py